<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test WebSocket</title>
</head>

<body>
    <img id="frame" src="" alt="">
    <script>
        let ws = new WebSocket("ws://localhost:5000/ws");
        // var ws = new WebSocket('ws://' + window.location.hostname + ':8000/ws')
        // var ws = new WebSocket("ws://" + document.domain + ':' + location.port + "/ws");
        let image = document.getElementById("frame");
        image.onload = function () {
            URL.revokeObjectURL(this.src);
        }
        ws.onmessage = function (event) {
            image.src = URL.createObjectURL(event.data)
        };
    </script>
</body>

</html>